ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px 0px;
    background-color: white;
    color: #1B1B32;
    border-radius: 0.25rem;
}

li:hover {
    cursor: pointer;
    background-color: #9290C3;
}

.selected {
    background-color: #9290C3;
}

@media screen and (max-width: 758px) {
    li {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 594px) {
    li {
        font-size: 0.8rem;
    }
}